AZURE_CLIENT_ID=ee909cd4-2fae-4cd2-8d7e-da7e8508d772
AZURE_TENANT_ID=49c8f005-73ef-462e-99e7-7be3a22980eb
AZURE_REDIRECT_URI=msauth://com.example.untitled/xc13Rb9XZfaL0EqEJWzx78ijaeM=
AZURE_SCOPES=openid,profile,User.Read
API_URL=http://192.168.1.95:8000/api/v1