# Backend environment variables
DATABASE_URL=postgresql://facilityuser:facilitypass@postgres:5432/facility_db
PYTHONUNBUFFERED=1
MICROSOFT_CLIENT_ID=fa4d2b7e-81cf-4970-843a-5894c7083fc0
REACT_APP_MICROSOFT_CLIENT_ID=fa4d2b7e-81cf-4970-843a-5894c7083fc0
REACT_APP_MICROSOFT_TENANT_ID=49c8f005-73ef-462e-99e7-7be3a22980eb

# Frontend environment variables
REACT_APP_API_URL=http://localhost:8000
REACT_APP_REDIRECT_URI=http://localhost:3000/auth/callback
